* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::placeholder{
    color: rgb(130, 130, 130);
}

textarea:focus, input:focus{
    outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  color: inherit;
}

.hide{
    display: none !important;
}

body{
    background: linear-gradient(to right,  rgb(238, 250, 255), rgba(1, 92, 149, 0.5));
    cursor: pointer;
}

/* header.................................. */

header{
    margin: auto;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.828);
    /* border: solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3{
    display: block;
    font-size: 30px;
    /* justify-self: center; */

}

#log_out{
    display: block;
    font-size: 18px;
    text-decoration: underline;
    color: rgb(255, 0, 93);
    /* justify-self: end; */
}


/* body of application starts...................... */
.app_wrapper{
    width: 100%;
    height: 110vh;
    /* border: solid black; */
    display: grid;
    grid-template-columns: 20% 80%;
}

/* main section holds functionality and objective sections................... */
main{
    order: 2;
    padding-top: 18px ;
    background: linear-gradient(to right,  rgb(238, 250, 255), rgba(1, 92, 149, 0.5)),
      url(/images/main_background_image.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* border: solid green ; */
    display: grid;
    grid-template-columns: 60% 40%;
}

/* functionality section of app begins.................... */
.left_content_functionality{
    width: 100%;
    height: 100%;
    padding: 19px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: purple solid; */
}

.percentages_display{
    width: 100%;
    height: 40%;
    background-color: rgb(248, 252, 255);
    border-radius: 20px;
    padding: 25px 20px;
    overflow: scroll;
}

.percentages_display p{
    font-size: 17px;
    color: rgb(152, 152, 152);
}

.percentage_goal_box{
    margin-top: 15px;
    width: 100%;
    /* border: solid pink; */
    padding: 10px 0;
}

.individual_percentage_goal_box{
    margin-top: 5px;
    padding: 12px;
    width: 100%;
    background: linear-gradient(to right,  rgb(255, 238, 250), rgb(255, 0, 93));
    border-radius: 5px;
    position: relative;
}

.individual_percentage_goal_box p{
    display: inline;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.percentage_bar_main{
    /* width: 10%; */
    height: 100%;
    background-color: green;
    opacity: .3;
    position: absolute;
    left: 0;
    top:0;
    border-radius: 8px;
}

.add_subgoal_container{
    /* margin: 10px 0 0 0; */
    width: 50%;
    margin-top: 25px;
    /* border: solid green; */
}

.add_subgoal_container form{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#new_subgoal_input{
    padding: 15px 10px;
    font-size: 18px;
    border: none;
    z-index: 1;
    
}

.add_subgoal_btn{
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    background-color: rgb(0, 166, 155);
    color: white;
    cursor: pointer;
    z-index: 1;
}



/* sub-goal section... */
.sub_goals_section{
    width: 100%;
    height: 60%;
    padding: 25px 20px;
    background-color: rgb(248, 252, 255);
    border-radius: 20px;
}

.sub_goals_section p{
    font-size: 17px;
    color: rgb(152, 152, 152);
}

.subgoal_box_container{
    width: 100%;
    margin-top: 15px;
    /* border: solid red; */
}

.subgoal_box{
    padding: 40px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 100%;
    background: linear-gradient(to right,  rgb(255, 238, 250), rgb(255, 196, 0));
    border-radius: 8px;
    position: relative;
}

.completed_autocheck_container{}

.completed_autocheck_container i{
    font-size: 50px;
    color: green;
}

.subgoal_box h4{
    font-size: 20px;
}

.percentage_bar{
    /* width: 10%; */
    height: 100%;
    background-color: green;
    opacity: .3;
    position: absolute;
    left: 0;
    border-radius: 8px;
}

/* objective section of app begins................. */
.right_content_objective{
    width: 100%;
    height: 100%;
    padding: 18px;
    position: relative;
    /* border: solid pink; */
}

.objective{
    width: 100%;
    height: 29%;
    background-color:rgb(248, 252, 255) ;
    border-radius: 20px;
    padding: 18px;
}

.obj_inner_container{
    
}

.obj_inner_container h4{
    padding: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;

}

.obj_inner_container p{
    padding: 4px;
    font-size: 18px;
    line-height: 1.4;
    color: rgb(73, 73, 73);
}

/* smaller goals/ notes section hidden by default........................ */
/* displays subsubgoals.. */
.subsubgoals_macro_container{
    /* border: solid red; */
    width: 99%;
    height: 98%;
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 20px;
    background-color: rgba(0, 11, 43, 0.834);
    padding: 20px;
}

.subsubgoals_container{
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    /* margin-bottom: 20px; */
    padding: 30px;
}

.individual_subsubgoal{
    border: solid rgb(152, 152, 152) .5px;
    padding: 10px;
    margin: 5px 0 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* section for adding a new subgoal... */
.add_subsubgoal_macro_container{
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    /* margin-top: 20px; */
    padding: 30px;
}

.add_subsubgoal_container{
    padding: 5px;
}

.add_subsubgoal_container p{
    font-size: 16px;

}

.add_subsubgoal_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#subsubgoal_input{
    width: 100%;
    border-radius: 20px;
    opacity: .9;
    padding: 15px;
    font-size: 16px;
}

#subsubgoal_btn{
    display: block;
    margin: auto;
    margin-top: 18px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 16px;
    border-radius: 5px;

}

/* aside section holds bio of user.................. */
aside{
    background: linear-gradient(to left,rgb(238, 250, 255), rgba(1, 92, 149, 0.629));
    width: 100%;
    height: 100%;
    /* border: solid red; */
    padding: 15px 40px;
    padding-top: 35px ;position: relative;
}

.sidebar_bio{
    width: 100%;
    height: 70%;
    position: relative;
    /* border: solid grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_pic{
    margin-left: 10px;
    width: 230px;
    height: 210px;
    object-fit: cover;
    position: relative;
    /* border: solid red */
}

.profile_pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.add_pic_button{
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 10px 12px;
    background: linear-gradient(to bottom, rgb(255, 249, 88), rgba(149, 1, 75, 0.298));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_pic_button i{
    font-size: 30px;
    color: white;
}

#uploadpic{
    opacity: 0;
}

.sidebar_bio h4{
    margin: 15px 0 0 -20px;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(53, 53, 53);

}

.sidebar_bio h6{
    margin: 0 0 0 -60px;
    font-size: 14px;
    color: rgb(82, 82, 82);
}

/* add new goal bio sect... */
.add_goal_container{
    width: 17%;
    margin-top: 25px;
    /* border: solid green; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: fixed;
    bottom: 20px;
    left: 21px;
}

.add_goal_container input{
    padding: 15px 10px;
    font-size: 18px;
    border: none;
    
}

.add_goal_container button{
    display: block;
    padding: 15px 15px;
    font-size: 18px;
    border: none;
    background-color: rgb(15, 31, 75);
    color: white;
    cursor: pointer;
}


