* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::placeholder{
    color: white;
}

textarea:focus, input:focus{
    outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
button:hover,
button:focus,
button:active {
  text-decoration: none;
  color: inherit;
}

.hide{
    display: none !important;
}

/* header.................................. */

header{
    width: 100%;
    height: 10vh;
    /* border: solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 1px rgb(28, 28, 28);
    z-index: 9999;
}

header h3{
    font-size: 30px;

}


/* body of application starts...................... */
.app_wrapper{
    width: 100%;
    height: 110vh;
    /* border: solid black; */
    display: grid;
    grid-template-columns: 20% 80%;
}

/* main section holds functionality and objective sections */
main{
    order: 2;
    padding-top: 20px ;
    background: linear-gradient(to right,  rgb(238, 250, 255), rgba(1, 92, 149, 0.5)),
      url(/images/main_background_image.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* border: solid green ; */
    display: grid;
    grid-template-columns: 60% 40%;
}

/* functionality section of app begins */
.left_content_functionality{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: purple solid; */
}

.percentages_display{
    width: 100%;
    height: 40%;
    background-color: rgb(248, 252, 255);
    border-radius: 20px;
}

.add_and_manage_goals{
    width: 100%;
    height: 60%;
    background-color: rgb(248, 252, 255);
    border-radius: 20px;
}

/* objective section of app begins................. */
.right_content_objective{
    width: 100%;
    height: 100%;
    padding: 15px;
    /* border: solid pink; */
}

.objective{
    width: 100%;
    height: 29%;
    background-color:rgb(248, 252, 255) ;
    border-radius: 20px;
}


/* aside section holds bio of user.................. */
aside{
    background: linear-gradient(to left,rgb(238, 250, 255), rgba(1, 92, 149, 0.629));
    width: 100%;
    height: 100%;
    /* border: solid red; */
    padding: 15px 50px;
    padding-top: 35px ;
}

.sidebar_bio{
    width: 100%;
    height: 100%;
    /* border: solid grey; */
}

.profile_pic{
    margin-left: 10px;
    width: 210px;
    height: 195px;
    object-fit: cover;
    position: relative;
    /* border: solid red */
}

.profile_pic img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.add_pic_button{
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 10px 12px;
    background: linear-gradient(to bottom, rgb(255, 249, 88), rgba(149, 1, 75, 0.298));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_pic_button i{
    font-size: 30px;
    color: white;
}

#uploadpic{
    opacity: 0;
}

.sidebar_bio h4{
    margin: 15px 0 0 40px;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(53, 53, 53);

}

.sidebar_bio h6{
    margin: 0 40px;
    font-size: 14px;
    color: rgb(82, 82, 82);
}

#log_out{
    font-size: 18px;
    text-decoration: underline;
    color: rgb(255, 0, 93);
}
